<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApiBiblioteca</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white">
            <div class="container">
                <h1>Biblioteca</h1>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Agregar</button>
                @*<h4 style="color:darkmagenta"><a href="" id="agregar" data-bs-toggle="modal" data-bs-target="#exampleModal">Agregar</a></h4>*@
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div id="modal">
        <div class="modal" tabindex="-1" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Nueva Cartilla</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="title" placeholder="Título de Cartilla">
                        <input type="text" class="form-control" id="description" placeholder="Ingrese un párrafo de lo que encontrarás aquí">
                        <input type="file" class="form-control" id="photo" placeholder="Adjunta una foto">
                        <input type="text" class="form-control" id="textButton" placeholder="Agrega el texto del botón">
                        <input type="text" class="form-control" id="url" placeholder="Inserta el link para el botón">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-block btn-primary" id="agregar">Guardar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
